root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{html,vue,blade.php}]
indent_size = 2

[*.json]
indent_size = 2

[*.{js,ts}]
indent_size = 2
spaces_around_brackets = both

[*.{css,scss,sass,less}]
indent_size = 2

[*.{xml,yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
